<div class="data-setup-container">
  <div class="data-setup-set-page">
    <form class="ui form">
      <div class="field">
        <label>Firm ID</label>
        <input type="text"
               name="firm-id"
               ng-model="firm.firmId"
               placeholder="Firm ID">
      </div>
      <div class="field">
        <label>Firm Name</label>
        <input type="text"
               name="firm-name"
               ng-model="firm.firmName"
               placeholder="Firm Name">
      </div>
      <div class="field">
        <div class="ui sub header">Firm Types</div>
        <div class="ui selection dropdown">
          <input type="hidden"
                 name="firmType">
          <i class="dropdown icon"></i>
          <div class="default text">Firm Types</div>
          <div class="menu">
            <div class="item"
                 data-value="{{firmType.id}}"
                 data-text="{{firmType.name}}"
                 ng-model="firm.selectedFirmType"
                 ng-click="firm.selectFirmType(firmType)"
                 ng-repeat="firmType in firm.firmTypeList track by firmType.id">
              <!-- <i class="male icon"></i> -->
              {{firmType.name}}
            </div>
          </div>
        </div>
      </div>

      <button class="ui primary button"
              type="submit"
              ng-click="firm.saveFirm()">
              Save
      </button>
      <button class="ui primary button"
              type="submit"
              ng-click="firm.updateFirm()">
              Update
      </button>
      <button class="negative ui button"
              type="submit"
              ng-click="firm.deleteFirm()">
              Delete
      </button>
    </form>

  </div>
  <div class="data-setup-get-page">
    <div class="ui list">
      <div class="item"
           ng-repeat="f in firm.firmList track by f.id"
           ng-click="firm.setFirm(f)"
           ng-bind="f.name">
      </div>
    </div>
  </div>
</div>
