<div class="county-container">
  <div class="county-set-page">
    <form class="ui form">
      <div class="field">
        <label>County ID</label>
        <input type="text"
               name="county-id"
               ng-model="county.countyId"
               placeholder="County ID">
      </div>
      <div class="field">
        <label>County Name</label>
        <input type="text"
               name="county-name"
               ng-model="county.countyName"
               placeholder="County Name">
      </div>
      <button class="ui primary button"
              type="submit"
              ng-click="county.saveCounty()">
              Save
      </button>
      <button class="ui primary button"
              type="submit"
              ng-click="county.updateCounty()">
              Update
      </button>
      <button class="negative ui button"
              type="submit"
              ng-click="county.deleteCounty()">
              Delete
      </button>
    </form>

  </div>
  <div class="county-get-page">
    <div class="ui list">
      <div class="item"
           ng-repeat="c in county.countyList track by c.id"
           ng-click="county.setCounty(c)"
           ng-bind="c.name">
      </div>
    </div>
  </div>
</div>
