<div class="data-setup-container">
  <div class="data-setup-set-page">
    <form class="ui form">
      <div class="field">
        <label>Product Category ID</label>
        <input type="text"
               name="productCategory-id"
               ng-model="productCategory.productCategoryId"
               placeholder="Product Category ID">
      </div>
      <div class="field">
        <label>Product Category Name</label>
        <input type="text"
               name="productCategory-name"
               ng-model="productCategory.productCategoryName"
               placeholder="Product Category Name">
      </div>
      <div class="field">
        <label>Product Category Description</label>
        <input type="text"
               name="product-category-description"
               ng-model="productCategory.productCategoryDescription"
               placeholder="Product Category Description">
      </div>
      <button class="ui primary button"
              type="submit"
              ng-click="productCategory.saveProductCategory()">
              Save
      </button>
      <button class="ui primary button"
              type="submit"
              ng-click="productCategory.updateProductCategory()">
              Update
      </button>
      <button class="negative ui button"
              type="submit"
              ng-click="productCategory.deleteProductCategory()">
              Delete
      </button>
    </form>

  </div>
  <div class="data-setup-get-page">
    <div class="ui list">
      <div class="item"
           ng-repeat="pc in productCategory.productCategoryList track by pc.id"
           ng-click="productCategory.setProductCategory(pc)"
           ng-bind="pc.name">
      </div>
    </div>
  </div>
</div>
