<div class="login-form-wrapper">
    <form class="ui form">
      <div class="field">
        <label>Username</label>
        <input type="text"
               ng-model="credentials.username"
               name="user-name"
               placeholder="Username">
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password"
               ng-model="credentials.password"
               name="password"
               placeholder="Paswword">
      </div>
      <button class="ui button"
              ng-click="login(credentials)"
              type="submit">Login</button>
    </form>
</div>
