<div class="data-setup-container">
  <div class="data-setup-set-page">
    <form class="ui form">
      <div class="field">
        <label>FirmType ID</label>
        <input type="text"
               name="firmType-id"
               ng-model="firmType.firmTypeId"
               placeholder="FirmType ID">
      </div>
      <div class="field">
        <label>FirmType Name</label>
        <input type="text"
               name="firmType-name"
               ng-model="firmType.firmTypeName"
               placeholder="FirmType Name">
      </div>
      <button class="ui primary button"
              type="submit"
              ng-click="firmType.saveFirmType()">
              Save
      </button>
      <button class="ui primary button"
              type="submit"
              ng-click="firmType.updateFirmType()">
              Update
      </button>
      <button class="negative ui button"
              type="submit"
              ng-click="firmType.deleteFirmType()">
              Delete
      </button>
    </form>

  </div>
  <div class="data-setup-get-page">
    <div class="ui list">
      <div class="item"
           ng-repeat="f in firmType.firmTypeList track by f.id"
           ng-click="firmType.setFirmType(f)"
           ng-bind="f.name">
      </div>
    </div>
  </div>
</div>
